header {
    background-color:aquamarine;
    Color: black;
}

body {
    background-color: aqua;
    color:white;
}

h1 {
    color:blue;
}

.paragrafo-1 {
    color:black;
}

.paragrafo-2 {
    color:black;
}

p {
    color:red;
}

h2 {
    color:gold;
}

ul {
    color:cyan;
}

li {
    color:coral;
}

.imagem-1 {
    width: 40%;
    align-items: center;
    margin-left: 700px;
}

footer {
    background-color:aquamarine;
    color:black;
}